.web-address {
  padding: 15px;
  margin: 15px;
  border-radius: 30px;
  border: 2px solid rgb(207, 207, 207);
  box-shadow: 5px 4px 8px 0px rgba(151, 151, 151, 0.9);
  width: 80vw;
}

.click {
  height: 40px;
}

.come-back {
  height: 35vh;
}

.come-back-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2em;
  font-weight: bold;
}
