/* INITIAL HOME */
.globeducate-logo {
  width: 20vw;
  margin: 2vh 0 2vh 40vw;
}

.welcome-title {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2em;
  font-weight: 700;
  margin: 3vh 0;
  text-align: center;
}

.age-group-box {
  min-width: 20vw;
  height: 50vh;
  border-radius: 25px;
  margin: 4vh 10px;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.choose-avatar {
  height: 40vh;
}

/* SECOND CODING COURSE VIEW */

.coding-background {
  position: absolute;
  width: 100vw;
}

.coding-background-img {
  z-index: -1;
  height: 30vh;
  width: 100vw;
  opacity: 0.8;
}

.header-box {
  margin-top: 12vh;
  position: relative;
  top: 0;
  width: 100vw;
  z-index: 0;
  height: 30vh;
  text-align: center;
}

.welcome-title-img {
  margin-top: 10vh;
  max-width: 90vw;
  position: relative;
  z-index: 1;
}

.splash-container-test {
  scroll-behavior: smooth;
  margin-top: 2vh;
  /* text-align: center; */
}

.welcome-avatar {
  width: 80%;
}

.course-view-subtitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.welcome-youtube {
  width: 90%;
  height: 35vh;
  border-radius: 3%;
}

.session-button {
  display: inline-flex;
  flex-direction: row;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  margin: 10px;
  color: white;
  font-weight: bolder;
}

/* SESSIONS */

.session-margin-top {
  margin-top: 15vh;
}

.session-mission {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2em;
  font-weight: 500;
}

.instruction-number {
  border: 1px solid rgb(143, 143, 143);
  box-shadow: 5px 4px 8px 0px rgba(151, 151, 151, 0.9);
  border-radius: 10%;
  padding: 9px;
  margin: 10px;
  height: 10vh;
  width: 10vh;
  background-color: white;
}

.session-title {
  width: 30vw;
  margin-bottom: 20px;
}

.session-number {
  width: 6vw;
}

.session-youtube {
  width: 90%;
  height: 35vh;
  border-radius: 3%;
  box-shadow: 5px 4px 8px 0px rgba(151, 151, 151, 0.9);
}

.session-card {
  box-shadow: 4px 5px 10px 6px rgba(151, 151, 151, 0.9);
}

.logos {
  width: 10vw;
  margin: 10px;
}

/* ================ COMPONENTS ================*/

.navbar {
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  z-index: 1;
  /* font-weight: bold; */
}

/* CODING SUMMER NAV */
.summer-coding-nav {
  position: fixed;
  top: 6vh;
  height: 6vh;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(47, 50, 63);
}

.back-link {
  font-size: 2em;
}

.globeducate-logo-nav {
  width: 9vw;
}

/* TOO EARLY */
.too-early-avatar {
  height: 35vh;
}

.ge-green-bg {
  background-color: #60a731;
}

.ge-blue-bg {
  background-color: #93d4f4;
}

/* CONTACT  */

.email-message {
  line-height: 100px;
  height: 400px;
}
