.background-home-img {
  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 0;
  z-index: -1;
  /* opacity: 0.6; */
}

.splash-container-home-top {
  margin: 10vh 3vw 5vh 3vw;
  height: 35vh;
  scroll-behavior: smooth;
  background-color: black;
  opacity: 0.8;
  font-size: 30px;
  font-weight: bold;
}

.cv-photo {
  width: 60%;
  border-radius: 50%;
}

.cv-photo:hover {
  transform: scale(1.1);
}

.about-card {
  min-height: 60vh;
}

.TEMP-MARG {
  margin: 30vh 0;
}
