html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  letter-spacing: 3px;
  font-weight: normal;
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
  /* color: white !important; */
}

.no-border {
  border: none;
}

.card-align-left {
  text-align: left !important;
}

.splash-container-bottom {
  height: 89vh;
  scroll-behavior: smooth;
}

.top-margin-under-nav {
  margin-top: 6vh;
}

.all-content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ===================== CARD ===================== */

.card-container {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 250px;
  height: 310px;
}

.card-image {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.card-text {
  padding: 10px 0;
  letter-spacing: 0;
}

/* ===================== OFFICIAL COLOURS ===================== */

/* COLOUR */

.dblue-colour {
  color: #40486d;
}

.blue-colour {
  color: #6eade0;
}

.red-colour {
  color: #f0586e;
  /* text-decoration: none; */
}

/* (ge) */

.ge-red-colour {
  color: #e4514b;
  /* text-decoration: none; */
}

.ge-yellow-colour {
  color: #ffde5c;
  /* text-decoration: none; */
}

.ge-green-colour {
  color: #66d9a3;
  /* text-decoration: none; */
}

.ge-blue-colour {
  color: #48b1d2;
  /* text-decoration: none; */
}

.ge-grey-colour {
  color: #dadada;
  /* text-decoration: none; */
}

/* NON-GRADIENT BACKGROUND */

.dblue-colour-bg {
  background-color: #40486d;
}

.blue-colour-bg {
  background-color: #6eade0;
}

.red-colour-bg {
  background-color: #f0586e;
  /* text-decoration: none; */
}

.dgrey-colour-bg {
  background-color: #485058;
  /* text-decoration: none; */
}

/* (ge bg) */

.ge-red-colour-bg {
  background-color: #e4514b;
  /* text-decoration: none; */
}

.ge-yellow-colour-bg {
  background-color: #ffde5c;
  /* text-decoration: none; */
}

.ge-green-colour-bg {
  background-color: #66d9a3;
  /* text-decoration: none; */
}

.ge-blue-colour-bg {
  background-color: #48b1d2;
  /* text-decoration: none; */
}

.ge-grey-colour-bg {
  background-color: #dadada;
  /* text-decoration: none; */
}

/* (ge BORDER) */

.ge-red-colour-bd {
  border: 2px solid #e4514b;
  /* text-decoration: none; */
}

.ge-yellow-colour-bd {
  border: 2px solid #ffde5c;
  /* text-decoration: none; */
}

.ge-green-colour-bd {
  border: 2px solid #66d9a3;
  /* text-decoration: none; */
}

.ge-blue-colour-bd {
  border: 2px solid #48b1d2;
  /* text-decoration: none; */
}

.ge-dblue-colour-bd {
  border: 2px solid #40486d;
  /* text-decoration: none; */
}

/* GRADIENT BACKGROUND */
/* .red-bg {
  background: rgb(235, 90, 90);
  background: linear-gradient(
    0deg,
    rgba(235, 90, 90, 1) 0%,
    rgba(255, 255, 255, 0) 15%
  );
  z-index: -1;
}

.blue-bg {
  background: rgb(46, 156, 224);
  background: linear-gradient(
    0deg,
    rgba(46, 156, 224, 1) 0%,
    rgba(255, 255, 255, 0) 15%
  );
  z-index: -1;
}

.yellow-bg {
  background: rgb(255, 251, 5);
  background: linear-gradient(
    0deg,
    rgba(255, 251, 5, 1) 0%,
    rgba(255, 255, 255, 0) 15%
  );
  z-index: -1;
} */
