.navbar {
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  z-index: 1;
  /* font-weight: bold; */
}

.nav-text:hover {
  font-weight: bold;
}
