.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  position: relative;
  height: 6vh;
  font-size: 0.7em;
  font-weight: normal;
  background-color: transparent;
}

a {
  color: black;
}
